/* Generics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */

.col{
    float: left;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    background-color: #0061FF;
    text-decoration: none;
    text-align: center;
    transition: background-color 1s;
}

.btn:hover{
    background-color: #3884ff;
}

img{
    max-width: 100%;
}

.container-big{
    width: 1440px;
    margin: 0 auto;
}

.container-small{
    width: 1000px;
    margin: 0 auto;
}

.buy-now{
    text-decoration: underline;
    color: dodgerblue;
}

.rectangle{
    width: 900px;
}

/* texts */

.text-black{
    color: rgb(0, 0, 0);
}

.text-white{
    color: #fff;
}

.text-bordeaux{
    color: #61082B;
}

.text-gray{
    color: #7B8995;
}

/* Font-sizes */

.f-size-14{
    font-size: 14px;
}

.f-size-16{
    font-size: 16px;
}

.f-size-20{
    font-size: 20px;
}

.f-size-22{
    font-size: 22px;
}

.f-size-25{
    font-size: 25px;
}

.f-size-30{
    font-size: 30px;
}

.f-size-35{
    font-size: 35px;
}

.f-size-40{
    font-size: 40px;
}

.f-size-50{
    font-size: 50px;
}

.f-size-60{
    font-size: 60px;
}

/* Font-weights */

.weight-bold{
    font-weight: bold;
}
.weight-bolder{
    font-weight: bolder;
}
.weight-300{
    font-weight: 300;
}
.weight-500{
    font-weight: 500;
}
.weight-600{
    font-weight: 500;
}
.weight-700{
    font-weight: 700;
}
.weight-800{
    font-weight: 800;
}
.weight-900{
    font-weight: 900;
}

/* margins */

.m-bottom-100{
    margin-bottom: 100px;
}

.m-bottom-50{
    margin-bottom: 50px;
}

.m-bottom-40{
    margin-bottom: 40px;
}

.m-bottom-30{
    margin-bottom: 30px;
}

.m-bottom-20{
    margin-bottom: 20px;
}

.m-bottom-10{
    margin-bottom: 10px;
}

/* nav */

nav{
    width: 100%;
    position: fixed;
}

nav #main-menu{
    width: 100%;
    height: 80px;
    padding: 25px;
    background-color: #fff;
}

#main-menu *{
    vertical-align: middle;
    display: inline-block;
}

#main-menu-right-col{
    width: 750px;
    text-align: right;
}

nav #main-menu #logo-container{
    margin-right: 20px;
}

nav #main-menu ul li{
    margin: 0 20px;
}

nav #main-menu ul li a{
    text-decoration: none;
    color: #000;
}

#start-button{
    font-size: 13px;
    margin-left: 30px;
    padding: 4px 15px;
    width: 75px;
    height: 25px;
}

/* Header / Jumbotron */

#header-full-page{
    background-color: #B4D0E7;
    width: 100%;
}

.container-jumbotron{
    margin: 0 auto;
    width: 1200px;
    height: 670px;
    padding: 60px;
}

#jumbotron-left-side{
    width: 30%;
}

#jumbotron-paragraph{
    text-align: left;
}

#title-container > h1{
    margin-top: 100px;
    width: 1200px;
}

#free-trial-btn{
    cursor: pointer;
    width: 220px;
    height: 35px;
    line-height: 35px;
}

#jumbotron-img > img{
    padding-left: 35px;
    width: 700px;
}

.fa-arrow-down{
    cursor: pointer;
}

/* Columns */

#business-plan-title{
    margin: 200px 0 50px 0;
}

label{
    /* margin-left: 20px; */
}

.method-column{
    width: calc(30% - 20px);
    margin: 0 10px;
    height: 950px;
}

.method-column .method-name{
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
}

.method-column .method-description{
    border: 1px solid black;
    padding: 20px 25px;
    height: 90%;
}

.free-trial-method-btn{
    cursor: pointer;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

#column-hr{
    width: 50px;
    border-color: lightgray;
}



.method-description ul li{
    list-style-type: none;
    margin: 20px 0;
}

.method-description ul li a{
    text-decoration: none;
    font-size: 14px;
}

/* Contatta l'ufficio */

#office-contact{
    margin: 30px 0 50px 0;
}

.top-rectangle{
    height: 40px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
}

.bottom-rectangle{
    height: 150px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    position: relative;
}

.bottom-rectangle .contact-btn{
    cursor: pointer;
    width: 220px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Partner Finding */

#partner-finding{
}

#partner-finding-img img{
    width: 500px;
}

#partner-finding-content{
    width: 400px;
    height: 430px;
    /* background-color: red; */
    margin-left: 500px;
    padding: 30px;
}

#partner-finding-btn{
    background-color: #fff;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    line-height: 30px;
}